// global
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
a {
    text-decoration: none;
}
.bg-white {
    background-color: white;
}
.section-title {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 80px;
        height: 3px;
        bottom: -8px;
        left: 0;
        background-color: black;
        transition: all .35s ease-in-out;
    }
    &:hover:before {
        width: 160px;
    }
}
.c-pointer {
    cursor: pointer;
    user-select: none;
}
// global


// search-form
.search-form {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    top: -100%;
    opacity: 0;
    transform: scaleY(0);
    left: 0;
    transition: all .75s ease;
    &.show {
        top: 0;
        opacity: 1;
        transform: scaleY(1);
    }
    & > .overlay-close {
        background-color: #0009;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    & > form {
        position: absolute;
        width: 680px;
        max-width: 100%;
        left: calc(50% - (680px / 2));
        top: calc(50% - 80px);
        input.form-control {
            border-radius: 25px 0 0 25px;
        }
        input.btn {
            border-radius: 0 25px 25px 0;
        }
    }
}
// search-form


// profile
.profile-header {
    .profile-banner {
        height: 400px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .profile-img {
        width: 160px;
    }
    .profile-img-container {
        top: -80px;
    }
    .edit-icon {
        bottom: 90px;
        right: calc(50% - 80px);
        padding: 7px 10px;
    }
}
// profile